<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
<h1>This is the home page 1+2</h1>
<h2><%=3*5%></h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iste rerum iusto nesciunt itaque! Dignissimos dicta ipsa inventore voluptate ab ullam enim itaque, nam dolor nesciunt, ipsum amet nihil repellat!</p> 
    <button>Click me</button>
</body>
</html>